* {
    text-align: center;
    position: relative;
    top: 20%;
}
.purpbutton {
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 3px;
    color: white
}
.submitButton {
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 3px;
    color: white
}
.purpbutton:focus {
    background-color: violet;
}
a {
    text-underline-position: none;
}
ul {
    list-style-type: none;
}
.hide {
    display: none;
}
#time {
    position: fixed;
    right: 20px;
    top: 20px;
    color: purple;
}